@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


h1{
  font-family: Ubuntu;
  margin-top:5%;
}
a, .container{ 
  font-family: Ubuntu;
}



.App-link {
  color: #61dafb;
}

.img-Logo {
  width: 20%;
  margin:auto;
}



.img-Acceuil{
  width: 100%;
  margin-top: 2%;
}
.Acceuil_1{
  margin-top: 7%;
}
.Acceuil_2{
  margin-top: 10%;
}

.card-img-top{
  width: 80%;
  align-items: center;
  margin: auto;
}